
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexAlunos</title>
    <link rel="stylesheet" href="~/Content/AlunoIndex.css" />
</head>
<body>
    <div>
        <a href="/aluno/cadastro" id="botao-cadastro">Cadastro Alunos</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Cpf</th>
                <th>Nota 1</th>
                <th>Nota 2</th>
                <th>Nota 3</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < ViewBag.Aluno.Count; i++)
            {
                <tr>
                    <td>@ViewBag.Aluno[i].Id</td>
                    <td>@ViewBag.Aluno[i].Nome</td>
                    <td>@ViewBag.Aluno[i].Cpf</td>
                    <td>@ViewBag.Aluno[i].Nota1</td>
                    <td>@ViewBag.Aluno[i].Nota2</td>
                    <td>@ViewBag.Aluno[i].Nota3</td>
                    <td>
                        <a href="/aluno/apagar?id=@ViewBag.Aluno[i].Id" id="botao-apagar">Apagar</a>
                        <a href="/aluno/editar?id=@ViewBag.Aluno[i].Id" id="botao-editar">Editar</a>
                    </td>
                </tr>

            }
        </tbody>
        <tfoot>
            <tr>
                <th>-----</th>
                <th>-----</th>
                <th>-----</th>
                <th>-----</th>
                <th>-----</th>
                <th>-----</th>
                <th>-----</th>
            </tr>
        </tfoot>
    </table>
</body>
</html>
